<?xml version='1.0' encoding='UTF-8'?>
<image name='SLES_12' displayname='SLES_12' schemaversion='5.2'>
  <description type='system'>
    <author>Duane Snider</author>
    <contact>studio-devel@suse.de</contact>
    <specification>SLES 12</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='oemboot/suse-SLES12' fsnocheck='true' filesystem='ext3' bootloader='grub2' installiso='true' installboot='install' kernelcmdline='quiet' fsmountoptions='acl' image='oem'>
      <oemconfig>
        <oem-swap>true</oem-swap>
        <oem-swapsize>512</oem-swapsize>
      </oemconfig>
    </type>
    <version>0.0.4</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
    <timezone>UTC</timezone>
    <hwclock>localtime</hwclock>
    <locale>en_US</locale>
  </preferences>
  <users group='root'>
    <user name='root' pwd='$1$aLVMQOEs$hRujsFGymCI4wNTQfoygU/' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <package name='kiwi-templates'/>
    <package name='kiwi-desc-oemboot'/>
    <package name='kiwi-desc-isoboot'/>
    <package name='kiwi-tools'/>
    <package name='kiwi-doc'/>
    <package name='kiwi'/>
    <package name='SuSEfirewall2'/>
    <package name='grub2'/>
    <package name='glibc-locale'/>
    <package name='iproute2'/>
    <package name='iputils'/>
    <package name='kernel-default'/>
    <package name='less'/>
    <package name='openssh'/>
    <package name='plymouth'/>
    <package name='vim'/>
    <package name='yast2'/>
    <package name='yast2-firstboot'/>
    <package name='zypper'/>
    <archive name='plymouth.tar' bootinclude='true'/>
    <package name='gfxboot-devel' bootinclude='true'/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
  </packages>
  <repository type='yast2'>
    <!-- source path='{SLE 12 SDK x86_64}'/> -->
    <source path="iso:///media/flash/suse/SLE-12-SDK-DVD-x86_64-GM-DVD1.iso "/>
  </repository>
  <repository type='yast2'>
    <!-- source path='{SLES 12 x86_64}'/> -->
    <source path="iso:///media/flash/suse/SLE-12-Server-DVD-x86_64-GM-DVD1.iso "/>
  </repository>
  <!-- repository type='rpm-md'>
    <source path='{SLES 12 Updates x86_64}'/>
  </repository> -->
  <!-- repository type='rpm-md'>
    <source path='{SLE 12 SDK Updates x86_64}'/>
  </repository> -->
</image>
